.star {
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid rgb(255, 255, 0);
            position: relative;
            margin: 100px auto;
        }
        .star:before, .star:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 100px solid rgb(255, 255, 0);
            position: absolute;
            top: 30px;
            left: -50px;
        }
        .star:after {
            transform: rotate(720deg);
        }